.image-list {
    display: flex;
    flex-wrap: wrap;
}

.image-show {
    margin: 20px;
    text-align: center;
}

.detail-image {
    display: flex;
    align-items: center;
    justify-content: center;
}